<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
	<meta charset="UTF-8">
	<th:block th:include="fragments/admin :: header"></th:block>
</head>
<body>

<nav th:replace="fragments/admin :: navbar"></nav>

<div class="container">
	<form th:object="${user}" method="post">
		<br>
	    <h3 class="text-center">Dodaj konto użytkownika: </h3>
		<br>
	    <table class="table table-striped">
	        <tr>
	            <td>Nazwa użytkownika:</td>
	            <td><input class="form-control" title="nazwa" type="text" th:field="*{userName}"></td>
	        </tr>
	        <tr>
	            <td>Hasło:</td>
	            <td><input class="form-control" type="password" th:field="*{password}" title="haslo"></td>
	        </tr>
	    </table>
	
	    <input class="btn btn-primary float-right" type="submit" value="Dodaj">
	
	</form>
</div>

<div th:replace="fragments/admin :: scripts"></div>
</body>
</html>