<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <th:block th:include="fragments/dentist :: header"></th:block>
    <meta charset="UTF-8">
</head>
<body>
<nav th:replace="fragments/dentist :: navbar"></nav>
<br>
<div class="container">
    <h2>Mój kalendarz</h2>
    <br>
    <form method="post" th:action="@{/dentist/calendar/week}" >
        <span>Data: </span>
        <input type="date"  th:value="${inputDateString}" name="inputDateString" required>
        <input type="submit" value="Przejdź">
    </form>
</div>
</body>
<div th:replace="fragments/dentist :: scripts"></div>
</html>
<style>
    .container{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
</style>