<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Grafik</title>
</head>
<body>
<div th:insert="fragments/dentistTopBar.html"></div>
<div>
<h1>Grafik dentysty</h1>
    <br>
    <form method="post" th:action="@{/dentist/schedule/week}" >
        <span>Wybierz tydzień</span>
        <input type="date"  th:value="${inputDateString}" name="inputDateString" required>
        <input type="submit" value="Przejdź">
    </form>
</div>
</body>
</html>