<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Tydzień pracy</title>
</head>
<body>
<div th:insert="fragments/dentistTopBar.html"></div>
<div class="container">
<h1>Tak wygląda Twój tydzień</h1>
<br>
<form method="post" th:action="@{/dentist/schedule/week}" >
    <span>Wybierz tydzień</span>
    <input type="date" name="inputDateString" required>
    <input type="submit" value="Przejdź">
</form>
<br>
<div class="table-responsive ">
    <table  class="table table-bordered table-hover">
        <tr class="thead-dark">
            <th>DATA</th>
            <th>POCZĄTEK</th>
            <th>KONIEC</th>
            <th>OPCJE</th>
        </tr>
        <tr th:each="i : ${#numbers.sequence(1,7)}" th:value="day">
            <td th:text="${#temporals.format(today.plusDays(i).minusDays(dayOfWeek), 'dd-MM-yyyy')}"></td>
            <td th:if="!${schedules.iterator().hasNext()}">Uzupełnij dane</td>
            <td th:if="${schedules.iterator().hasNext()}">
                <span th:each="schedule :${schedules}">
                    <span th:if="${#temporals.format(schedule.getDate(),'yyyy-MM-dd')} == ${#temporals.format(today.plusDays(i).minusDays(dayOfWeek), 'yyyy-MM-dd')}"
                      th:text="${schedule.getStartDay()}"></span>
                    <span th:unless="${#temporals.format(schedule.getDate(),'yyyy-MM-dd')} == ${#temporals.format(today.plusDays(i).minusDays(dayOfWeek), 'yyyy-MM-dd')}">Uzupełnij grafik</span>
            </span></td>
            <td th:if="!${schedules.iterator().hasNext()}">Uzupełnij dane</td>
            <td th:if="${schedules.iterator().hasNext()}">
                <span th:each="schedule :${schedules}">
                    <span th:if="${#temporals.format(schedule.getDate(),'yyyy-MM-dd')} == ${#temporals.format(today.plusDays(i).minusDays(dayOfWeek), 'yyyy-MM-dd')}"
                          th:text="${schedule.getEndDay()}"></span>
                    <span th:unless="${#temporals.format(schedule.getDate(),'yyyy-MM-dd')} == ${#temporals.format(today.plusDays(i).minusDays(dayOfWeek), 'yyyy-MM-dd')}">Uzupełnij grafik</span>
            </span></td>
            <td th:if="!${schedules.iterator().hasNext()}"><input type="button" value="Dodaj"></td>
            <td th:if="${schedules.iterator().hasNext()}">
                <span th:each="schedule :${schedules}">
                    <span th:if="${#temporals.format(schedule.getDate(),'yyyy-MM-dd')} == ${#temporals.format(today.plusDays(i).minusDays(dayOfWeek), 'yyyy-MM-dd')} and ${schedule.getStartDay().getHour() > 0}">
                        <input type="button" value="Edytuj">
                    </span>
                    <span th:unless="${#temporals.format(schedule.getDate(),'yyyy-MM-dd')} == ${#temporals.format(today.plusDays(i).minusDays(dayOfWeek), 'yyyy-MM-dd')} and ${schedule.getStartDay().getHour() > 0}">
                        <input type="button" value="Dodaj">
                    </span>
            </span></td>
        </tr>
    </table>
</div>
</div>
</body>
</html>