<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head th:replace="fragments/admin :: head">
</head>
<body>

<nav th:replace="fragments/admin :: navbar"></nav>

<form th:object="${role}" method="post">

    <h3>Zabierz uprawnienia u¿ytkownikowi: </h3>
    <select th:field="*{id}" title="role">
        <option th:each="role : ${roles}" th:text="${role.simplifiedRoleName}" th:value="${role.id}"></option>
    </select>
    <input type="submit" value="Ok">

</form>

<div th:replace="fragments/admin :: scripts"></div>
</body>
</html>