<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

</head>
<body>

<h1>Zarejestruj się</h1>
<form method="post" th:action="@{/register}" th:object="${user}">
    <input placeholder="Nazwa użytkownika" th:field="*{userName}" type="text"> <br>
    <input placeholder="Hasło" th:field="*{password}" type="password"> <br>
    <input placeholder="Adres email" th:field="*{email}" type="email"> <br>
    <input placeholder="Imię" th:field="*{firstName}" type="text"> <br>
    <input placeholder="Nazwisko" th:field="*{lastName}" type="text"> <br>
    <input placeholder="PESEL" th:field="*{personalIdentityNumber}" type="text"> <br>
    <input placeholder="Miejscowość" th:field="*{city}" type="text"> <br>
    <input placeholder="Ulica" th:field="*{street}" type="text"> <br>
    <input placeholder="Numer lokalu" th:field="*{houseNumber}" type="text"> <br>
    <input placeholder="Numer mieszkania" th:field="*{flatNumber}" type="text"> <br>
    <input placeholder="Kod pocztowy" th:field="*{postalCode}" type="text"> <br>
    <input placeholder="Numer telefonu" th:field="*{phone}" type="text"> <br>
    <input type="submit" value="Zarejestruj">
</form>

</body>
</html>