<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/topBar.css}">
</head>
<body>
<nav>
    <div class="container">
        <ul>
            <li>
                <a th:href="@{/}">strona główna</a>
            </li>
            <li>
                <a th:href="@{/dentist}">panel lekarza</a>
            </li>
            <li>
                <a th:href="@{/dentist/calendar}">Sprawdź kalendarz</a>
            </li>
            <li>
                <a th:href="@{/dentist/schedule}">Dodaj grafik</a>
            </li>
        </ul>
    </div>
</nav>

</body>
</html>