<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div th:insert="fragments/receptionistTopBar.html"></div>
<div class="container">
<h1>Wizyta została zapisana </h1>
</div>
</body>
</html>
<style>
    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
</style>