<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments/receptionist :: header"></th:block>
</head>
<body>

<nav th:replace="fragments/receptionist :: navbar"></nav>

<h3>Wiadomość</h3>
<p th:text="|nadawca: ${message.name}|"></p>
<p th:text="|email: ${message.email}|"></p>
<p th:text="|numer telefonu: ${message.number}|"></p>
<p th:text="${message.text}"></p>

<div th:replace="fragments/receptionist :: scripts"></div>
</body>
</html>